<nav class="navbar navbar-expand-lg sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <i></i>Alumni Nexus
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mynetwork') }}">MyNetwork</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pinboard') }}">Pinboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MyProfile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MyEvents</a>
                </li>
            </ul>

            <div class="d-flex gap-2">
                <a href="{{ url_for('login') }}" class="btn btn-outline-main">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-main">Register</a>

            </div>
        </div>
    </div>
</nav>
